<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @lecture.number %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
