<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :call_number %><br />
    <%= f.text_field :call_number %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :meets_on %><br />
    <%= f.text_area :meets_on %>
  </div>
  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_area :building %>
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.text_area :room %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br />
    <%= f.text_area :instructor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
