<h1>Listing courses</h1>

<table>
  <tr>
    <th>Call Number</th>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
    <th>Meets On</th>
    <th>Building</th>
    <th>Room</th>
    <th>Instructor</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.call_number %></td>
    <td><%= course.title %></td>
    <td><%= course.start_time %></td>
    <td><%= course.end_time %></td>
    <td><%= course.meets_on %></td>
    <td><%= course.building %></td>
    <td><%= course.room %></td>
    <td><%= course.instructor %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
